#nprogress {
  .bar {
    // height: 3px!important;
    border-radius: 5px;
    background-color: skyblue !important;
    background-image: linear-gradient(135deg, #b3c0d1 25%, #e9eef3 25%, #e9eef3 50%, #b3c0d1 50%, #b3c0d1 75%, #e9eef3 75%, #e9eef3 100%) !important;
    background-size: 20px 20px !important;
  }
}

::-webkit-scrollbar-track-piece {
  background: #fff;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #e3f3ff;
  border-radius: 20px;
}

#page {
  .ant-layout-sider {
    background: #fff;
  }

  .ant-breadcrumb-link {
    a {
      color: #52b1ff;

      &:hover {
        color: #40a9ff;
      }
    }
  }

  .ant-layout-footer {
    padding: 0;
    text-align: center;
    line-height: 40px;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .ant-layout-content {
    box-sizing: border-box;
    padding: 20px 20px 0 20px;
    .main {
      background: #fff;
      height: 100%;
      box-sizing: border-box;
      padding: 20px;
    }
  }
  .inlineBotton{
    margin-right: 20px;
  }
  .inlineForm{
    margin-bottom: 20px;
  }
}